[Unit]
Description=Select random wallpaper
Before=display-manager.service
After=local-fs.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/bin/random-wallpaper

[Install]
WantedBy=graphical.target